# Ignore node_modules folder
node_modules/

# Ignore build output
.next/

# Ignore TypeScript compiler output
*.tsbuildinfo

# Ignore Next.js specific files
.cache/
.vercel/

# Ignore environment variables
.env.local
.env.development
.env.production
.env

# Ignore IDE specific files
.vscode/
.idea/

# Ignore test files
*.spec.js
*.test.js

# Ignore coverage reports
coverage/

# Ignore other temporary files
tmp/

# Ignore any files ending in .md
*.md

# Ignore any files ending in .lock
*.lock

# Ignore any files ending in .yaml
*.yaml

# Ignore any files ending in .yml
*.yml

# Ignore any files ending in .json
*.json